body {
    all: inherit;
    font-family: "Roboto", "Ubuntu", sans-serif;
    font-weight: 600;
    font-size: 16px;
    max-width: 60em;
    display: block;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 5px;
    margin-bottom: 2px;
}

#maincontents {
    width: 98%;
    border-right: 2px solid #D23264;
    border-left: 2px solid #D23264;
    border-bottom: 2px solid #D23264;
    border-collapse: collapse;
}

#currentVersion {
    width: 98%;
    color: #D23264;
    text-align: right;
    font-size: 14px;
}

#loadingicon {
    display: block; margin: 0 auto;
    width: 50px;
    height: 50px;
}

.feature{
    width: 100%;
    color: #005AA0;
}

.collapsiblebtn{
    background-color: #FFF;
    cursor: pointer;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    text-align: left;
    box-shadow: none;
    border-top: 2px solid #D23264;
    border-collapse: collapse;
}

.plusminus-icon{
    width:4%;
    max-width:2em;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
}

.minus-icon::before {
    content: "−";
}

.plus-icon::before {
    content: "+";
}

.titlespan {
    display: inline-block;
    width: 78%;
    vertical-align: middle;
}

.progresstext {
    width: 16%;
    vertical-align: middle;
    color: #D23264;
    margin-left: 1%;
    margin-right: 1%;
    white-space: nowrap;
}

.collapsiblecontent{
    padding-right: 18px;
    padding-left: 4%;
    overflow: hidden;
    background-color: #FFF;
    color: #000000;
    font-weight: 400;
    max-height: 0; /* start collapsed */
    transition: max-height 0.5s ease-out, border-width 0.5s ease;
    border-color: #D23264;
}

.featurecontent{
    padding-top: 10px;
}

.featurelinks{
    padding-top: 5px;
    padding-bottom: 10px;
}

code {
    background-color: #d3d3d3;
}