body {
    all: inherit;
}

#maincontents {
    width: 98%;
    border-right: 2px solid #D23264;
    border-left: 2px solid #D23264;
    border-bottom: 2px solid #D23264;
    border-collapse: collapse;
    font-family: Roboto, Ubuntu;
    font-weight: 600;
    font-size: 16px;
    max-width: 50em;
}

.feature{
    width: 100%;
    color: #005AA0;
}

.collapsiblebtn{
    background-color: #FFF;
    cursor: pointer;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    text-align: left;
    box-shadow: none;
    border-top: 2px solid #D23264;
    border-collapse: collapse;
}

.plusminus-icon{
    width:4%;
    max-width:2em;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
}

.minus-icon::before {
    content: "−";
}

.plus-icon::before {
    content: "+";
}

.titlespan {
    display: inline-block;
    width: 52%;
    vertical-align: middle;
}

.progressbardiv {
    height: 30px;
    width: 43%;
    position: relative;
    background: #dbeeff;
    border-radius: 0.2vw;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1%;
}

.progressbartext {
    width: 100%;
    height: 100%;
    color: black;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    position: absolute;
    top: calc(50% - 8px);
}

.progressbarspan {
    display: block;
    height: 80%;
    border-radius: 0.2vw;
    background-color: #006dc2;
    position: absolute;
    left: 0.5%;
    top: 10%;
    max-width: 99%;
    overflow: hidden;
}

.collapsiblecontent{
    padding: 0 18px;
    overflow: hidden;
    background-color: #FFF;
    color: #000000;
    font-weight: 400;
    max-height: 0; /* start collapsed */
    transition: max-height 0.5s ease-out;
}

code {
    background-color: #d3d3d3;
}