body {
    all: inherit;
}

.feature{
    border: 1px solid black;
    width: 100%;
    font-family: "Ubuntu";
    font-weight: 600;
    font-size: 16px;
    color: #005AA0;
    border: 1px solid;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #D23264;
}

.collapsiblebtn{
    background-color: #FFF;
    cursor: pointer;
    padding: 1%;
    width: 96%;
    text-align: left;
    box-shadow: none;
}
.active{
    /*background-color: #005AA0;*/
}

.collapsiblecontent{
    padding: 0 18px;
    overflow: hidden;
    background-color: #f1f1f1;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.progressbardiv {
    height: 35px;
    width: 60%;
    position: relative;
    background: #959595;
    border-radius: 0.2vw;
}

.progressbartext {
    width: 100%;
    height: 100%;
    color: black;
    font-weight: 400;
    text-align: center;
    position: absolute;
    top: calc(50% - 8px);
}

.progressbarspan {
    display: block;
    height: 80%;
    border-radius: 0.2vw;
    background-color: #006dc2;
    position: absolute;
    left: 0.5%;
    top: 10%;
    max-width: 99%;
    overflow: hidden;
}